.flag-box-wrapper-outer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
}

.flag-box-wrapper {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    width: 80vw;
    height: 100vh;
}

.country-title {
    position: absolute; 
    bottom: 0.3rem; 
    text-align: center;
}